.l-container{
  padding: 1rem 0.5rem 0;
  
  &__section {
    background-color: #FFF;
    border-radius: 4px;
    padding: 2rem;
    @media(min-width: $tablet) {
      max-width: 640px;
      margin: 0 auto;
    }
    &__block{
      padding: 0.7rem 0;
    }
  }
}
